*{
    font-family: cursive;
    font-weight: bolder;
}

body {
    background-color: rgb(0, 0, 0);
    margin: 10px;
    height: 100vh;
}

#page-title {
    color: rgb(176, 176, 250);
    text-align: center;
    font-size:large;
  
}

.container {
    display: flex;
    gap: 16%;
}

.drawing-tools {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 80vh;
    background-color: rgb(97, 108, 110);
    border-radius: 2%;
    border: #ffffff solid 5px;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35%;
    margin-top: 15%;
}

.buttons button {
    margin: 5%;
    padding: 3% 10%;
    border: none;
    border-radius: 25px;
    font-size: 1.1rem;
    cursor: pointer;
    background-color: #ffffff;
    color: #181414;
    width: 70%;
    height: 25%;
    border: 1px solid black;
}

.sliderContainer {
    display: flex;
    margin-top: 5vh;
    flex-direction: column;
}

#sliderText {
    display: flex;
    justify-content: center;
}

input[type='color']:active {
    transition: transform 0.05s ease-in-out;
    transform: scale(1);
}
  
input[type='color'] {
    width: 80px;
    height: 80px;
    border: none;
}
  
input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
}
  
input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.grid {
    display: grid;
    background-color: white;
    width: 50vw;
    height: 70vh;
    border: #4e3c3c solid 20px;
}

.grid-cell {
    width: calc(50vw / 16);
    height: calc(70vh / 16);
}

